.item {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
    padding: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-title {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 16px;
}

.completed {
    text-decoration: line-through;
    color: teal;
}

.item-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.icon {
    height: 20px;
    width: 20px;
    object-fit: cover;
}