* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

}

.app {
  padding: 24px 165px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.app-header {
  font-size: 42px;
  font-weight: bold;
  color: teal;
}

.app-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.app-input {
  padding: 10px 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid lightgray;
  font-size: 14px;
}

.app-input::placeholder {
  font-size: 14px;
  font-weight: 300;
  line-height: 15px;
}

.app-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.app-button {
  font-size: 14px;
  font-family: 'Inter', sans-serif !important;
  padding: 10px;
  border: none;
  outline: none;
  background: none;
  color: white;
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 80px
}

.success {
  background-color: teal;
}

.success:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.danger {
  background-color: rgb(233, 62, 62);
}

.danger:hover {
  background-color: white;
  color: rgb(233, 62, 62);
  border: 1px solid rgb(233, 62, 62);
}

@media (max-width: 600px) {

  .app {
    padding: 16px;
  }

  .app-form {
    flex-direction: column;
  }

  .app-button {
    min-width: 100%;
  }

  .app-header {
    font-size: 32px;

  }

  .app-button {
    min-width: 80px;
  }

}